.faq{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 10px;
    width: 700px;
    margin: auto;
}

.pergunta{
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin-top: 20px;
    margin-bottom: 20px;
}

.resposta{
    font-size: 15px;
    color: #000;
    margin-bottom: 20px;
}